DATABASE_URL=jdbc:postgresql://localhost:5432/gestao_vagas
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

MONGODB_HOST=localhost
MONGODB_PORT=27017
MONGODB_DATABASE=gestao_vagas_logs
MONGODB_USERNAME=mongo
MONGODB_PASSWORD=mongo
MONGODB_AUTHENTICATION_DATABASE=admin

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=seuemail@gmail.com
MAIL_PASSWORD=sua-app-password-do-gmail

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest

R2_ACCOUNT_ID=
R2_ACCESS_KEY=
R2_SECRET_KEY=
R2_BUCKET=
R2_PUBLIC_URL=
